/* ВАЖНО - В данном файле все классы должны быть с припиской _custom */
.p_custom {
    font-size: 1rem;
    display: block;
    height: initial !important;
    text-align: left;
}

.zoom_button {
    visibility: hidden;
}

.small_header_fourteen_custom {
    max-width: 600px;
    margin: 0 0 0 10px;
    min-height: 100px;
}

@media (max-width: 1300px) {
.p_custom {
    display: block;
    height: initial !important;
    width: 350px;
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis !important; 
    align-items: center !important;
    justify-content: flex-start !important;
    }
}

.zoom_button {
    visibility: visible;
}

@media (max-width: 720px) {

    .small_header_fourteen_custom {
        max-width: 500px;
        margin: 0 0 0 10px;
        min-height: 20px;
    }
}

.targetField {
    justify-content: left;
}